.conteudo{
    font-family: var(--fonte-principal);
    color: var(--cor-branca);
    font-weight: 400;
    text-align: justify;
}

.conteudo-titulo{
    font-weight: 700;
    font-size: 2em;
    padding: 1em 0;
    text-transform: uppercase;
    text-align: center;
}

.conteudo-texto{
    padding: .5em 0;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    font-family: var(--fonte-almarai);
}
.titulo-docente{
    margin: 20px;
}
.tabela{
    padding: 1em;
    width: 40rem;
}
.tabela-aluno{
    padding: 1em;
    width: 40rem;
    margin-bottom: 30px;
}

.conteudo-links {
    display: flex;
    justify-content: space-around;
}

.conteudo-links-redes {
    display: flex;
    flex-direction: column;
}

.conteudo-links-redes a {
    padding: 0.5em;
}

#logo {
    max-width: 35px;
    max-height: 35px;
    width: auto;
    height: auto;
}

#logo-uepa {
    max-width: 200px;
    max-height: 100px;
    width: auto;
    height: auto;
}