b{
    font-weight: bold;
}
.conteudo{
    font-family: var(--fonte-Quicksand);
    color: var(--cor-branca);
    font-weight: 400;
    text-align: justify;
    margin-bottom: 1.5em;
}
.conteudo-titulo{
    font-weight: 700;
    font-size: 2em;
    padding: 1em 0;
    text-transform: uppercase;
    text-align: center;
}

.conteudo-texto{
    padding: .5em 0;
    margin-left: 10px;
    margin-right: 10px;
    text-align: justify;
    font-family: var(--fonte-almarai);
}
.titulo-docente{
    margin: 20px;
}
.tabela{
    padding: 1em;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
}
.tabela-aluno{
    display: flex;
    padding: 1em;
    width: 50%;
    margin-bottom: 30px;
    flex-wrap: wrap;
}

.conteudo-links {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.conteudo-links-redes a {
    padding: 0.5em;
}
#logo {
    max-width: 35px;
    max-height: 35px;
    width: auto;
    height: auto;
}
#logo-ccnt{
    max-width: 35px;
    max-height: 35px;
    width: auto;
    height: auto;
    border-radius: 50%;
}
#logo-uepa {
    max-width: 200px;
    max-height: 100px;
    width: auto;
    height: auto;
    justify-content: space-between;
    margin-bottom: 2em;
}
.colegiado{
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    justify-content: center;
    align-items: center;
}
.membros{
    margin: 3em;
    padding: 10px;
    background-color: var(--cor-branca);
    border-radius: 5px;
    text-align: center;
}
.membros img{
    width: 200px;
    height: 250px;
}
figcaption{
    text-transform: uppercase;
    font-weight: bold;
    color: var(--cor-azul-escuro);
}
.matriz{
    width: 90%;
    text-align: center;
    justify-content: center;
    margin: 2.5em;
    color: var(--cor-branca);
}
.curso{
    text-align: justify;
    margin: 2.5em;
}
.col-sm{
    float: left;
    padding: 30px;
    margin: 0 auto;
}
.campus figure img{
    width: 500px;
    height: 300px;
    padding: 10px;
    background-color: var(--cor-branca);
    display: absolute;
}
.campus{
   text-align: center;
}
.campus figcaption{
    color: var(--cor-branca);
}
.rampa{
    display: flex;
    justify-content: center;   
}
.rampa img{
    margin: 10px;
    padding: 10px;
    background-color: var(--cor-branca); 
}
.laboratorio{
    display: flex;
    justify-content: center;
}
.laboratorio img{
    margin: 10px;
    padding: 10px;
    background-color: var(--cor-branca);
}