
.cabecalho{
    background-color: var(--cor-branca);
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: var(--fonte-principal);
}
.cabecalho img {
    max-width: 150px;
    max-height: 150px;
    width: auto;
    height: auto;
    }

.navegacao{
    position: relative;
    font-size: .8em;
}

.navegacao ul li {
    display: inline;
    margin-left: 15px;
    background-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
}

.navegacao a {
    text-decoration: none;
    color: var(--cor-azul-escuro);
}

.navegacao a:hover{
    color: var(--cor-secundaria);
    border-bottom: 1px solid #53a7ea;
}


