
.cabecalho{
    background-color: var(--cor-branca);
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: var(--fonte-principal);
}

.cabecalho img {
    max-width: 200px;
    max-height: 200px;
    width: auto;
    height: auto;
    }

.navegacao{
    position: relative;
    font-size: .9em;
}

.navegacao ul li {
    display: inline;
    margin-left: 20px;
    background-size: 25px;
}

.navegacao a {
    text-decoration: none;
    color: var(--cor-azul-escuro);
}

.navegacao a:hover{
    color: var(--cor-secundaria);
    border-bottom: 1px solid #53a7ea;
}


